extends header

block content
	div#userBox
		| <strong>Username:</strong> #{user} <br>
		form.headerForm(action='/_profile', method='get'): input(type='submit', value='profile')
		| &nbsp;
		form.headerForm(action='/logout', method='get'): input#logout(type='submit', value='logout')
		| <br>
		div#spacer
		form.headerForm(action='/_tweets', method='get'): input(type='submit', value='Tweets')
		| &nbsp;
		form.headerForm(action='/_userlist', method='get'): input(type='submit', value='Userlist')
		| <br>
		div#spacer
		form.headerForm(action='/_charts', method='get'): input(type='submit', value='Charts')
		| &nbsp;
		form.headerForm(action='/_main', method='get'): input#back(type='submit', value='<- back')
		| &nbsp;
		h4#notifNum= n_count
	table
		caption
			h1 ~ Tweet-A-Feeling ~

		tr
			td.cellCenter(colspan='3')
				h2 All Tweets:

		each elem in notifs
			tr
				td.west
					div.data
						| #{elem.date}<br>
						| <strong>Author:</strong> #{elem.author}<br><br>
						| <strong>Feeling:</strong> ##{elem.feeling}<br>
						| <strong>Topic:</strong> ##{elem.topic}
				td.n-s
					div.notifs= elem.text
				td.east
